.principal{
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.chamada-corpo{
   font-size: 24px;
   font-weight: 800;
   padding: 150px 10px 30px 10px;
}


.titulo-blocos{
   font-size: 28px;
   font-weight: 600;
   margin: 40px 20px 20px 10px;
}

.perguntas{
   font-size: 22px;
   font-weight: 400;
   margin: 15px 5px 5px 5px;
}

.paragrafo-bloco{
   font-size: 20px;
   font-weight: 300;
   margin: 12px;
   padding-bottom: 10px;
}

.img-chamadaCorpo{
   width: 100%;
   height: 273px;
   object-fit: cover;
   object-position: center;
   padding-bottom: 100px;
}

.img-bloco01, .img-bloco02, .img-bloco04, .img-bloco05, .img-bloco06{
   width: 100%;
   height: 273px;
   object-fit: cover;
   object-position: center;
   padding-bottom: 5px;
}

.img-bloco03{
   width: 100%;
   height: 273px;
   object-fit: cover;
   object-position: top;
   padding-bottom: 5px;
}

.linkemail{
   color: var(--texto-cor);
}

.linhas{
   display: flex;
   width: 100%;
   height: 7px;
   background-color: var(--detalhes);
   margin-top: 10px;
}

.ques{
   display: none;
}
.ques.active{
   display: flex;
   flex-direction: column;
}

/*according menu*/
.informacoes{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-bottom: 30px;
}
.titulo-according{
   color: var(--texto-cor);
   font-size: 38px;
   font-weight: 600;
   line-height: 40px;
   padding: 25px 0;
   margin: 10px 0;
   width: 100%;
}

/*Accordion menu*/
.accordion-box{
   width: 100%;
   text-align: left;
}
.conteudo-box{
   position: relative;
   margin: 10px 20px;
}

.titulo-label{
   position: relative;
   padding: 20px 30px 20px 10px;
   background: var(--acordion-button);
   color: #fff;
   cursor: pointer;
   font-size: 18px;
}

.titulo-label::after{
   content: '+';
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
   font-size: 12px;
}

.conteudo-box.active .titulo-label::after{
   content: 'x';
}
.conteudo-paragrafo{
   position: relative;
   background: var(--detalhes);
   font-size: 18px;
   line-height: 28px;;
   color: var(--cinza);
   font-family: var(--fonte-corpo);
   font-weight: 500;
   height: 0;
   overflow: hidden;
   transition: 0s;
   overflow-y: auto;
}

.conteudo-box.active .conteudo-paragrafo{
   height: 100%;
   padding: 10px 20px 15px 10px;
}

.accordion-encerramneto{
   font-size: 26px;
   font-weight: 400;
   color: var(--texto-cor);
   padding: 40px 10px 20px 10px;
   width: 95%;
}

/*media screen desktop*/
@media screen and (min-width: 1200px){
   .container-desktop{
      align-items: center;
      display: flex;
      gap: 3.5rem;
      justify-content: space-between;
      padding: 100px 0px 150px 0px;
      width: 70%;
   }
   .chamada-corpo{
      font-size: 26px;
      font-weight: 800;
      padding: 0px;
      text-align: left;
   }
   .img-chamadaCorpo{
      border-radius: 0.8rem 5rem;
      width: 450px;
      height: 300px;
      object-fit: cover;
      object-position: center;
      padding-bottom: 0px;
   }
   .titulo-blocos{
      font-size: 32px;
      margin: auto;
      padding-top: 50px;
      width: 80%
   }
   .blocos{
      align-items: center;
      display: flex;
      gap: 2rem;
      margin: auto;
      padding: 90px 0px 90px 0px;
      width: 80%;
   }
   .img-bloco01, .img-bloco03, .img-bloco05{
      border-radius: 5rem 0.8rem;
      order: -1;
      width: 400px;
      height: 300px;
   }
   .img-bloco02, .img-bloco06{
      border-radius: 0.8rem 5rem;
      width: 400px;
      height: 300px;
   }
   .img-bloco04{
      order: 1;
      border-radius: 0.8rem 5rem;
      width: 400px;
      height: 300px;
   }
   .paragrafo-bloco{
      font-size: 22px;
   }
   .informacoes{
      width: 80%;
   }
}